/* styles.css */
body {
    background-color: #C3D2D5;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #262322;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.section {
    background-color: #028090;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
}

.section h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card h3 {
    color: #262322;
    font-size: 16px;
    margin-bottom: 5px;
}

.card p {
    color: #262322;
    margin-bottom: 5px;
}

.next-button {
    background-color: #fffd82;
    color: #262322;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.report-button {
    background-color: #ef6f6c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

/* Classe para estilizar com fundo vermelho */
.red {
    background-color: #ef6f6c;
    color: white;
  }
  
  /* Classe para estilizar com fundo azul */
  .blue {
    background-color: #028090;
    color: white;
  }
  
  /* Classe para estilizar com fundo verde */
  .green {
    background-color: #19df54;
    color: white;
  }
  
  /* Classe para estilizar com fundo amarelo */
  .yellow {
    background-color: #ffcb1f;
    color: #262322;
  }
  